/* General css */
.auth-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.auth-video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  
}
.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity (0.5 = 50% dark) */
  z-index: 2;
}
.auth-logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 80px;
    z-index: 999;
    border-radius: 50%;
}
.auth-logo:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
}

.auth-content {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/*Login CSS */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f2f5;
    z-index: 997;
}

/* Register Page */
.register-container {
    padding-top: 200px;
    z-index: 997;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f2f5;
}   